@charset "utf-8";
//@import
  //'node_modules/bootstrap/scss/functions',
  //'node_modules/bootstrap/scss/variables',
  //'node_modules/bootstrap/scss/mixins',
  //'node_modules/bootstrap/scss/root',
  //'node_modules/bootstrap/scss/reboot',
  //'node_modules/bootstrap/scss/grid',
  //'node_modules/bootstrap/scss/utilities/display',
  //'node_modules/bootstrap/scss/utilities/flex',
  //'node_modules/bootstrap/scss/utilities/spacing',
  //'node_modules/bootstrap/scss/buttons';


$font-family-sans-serif: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Domine", "Times New Roman", Times, serif;
$dark-gray: #282C47;
$light-gray: #5B617F;
$very-light-gray: #F8F8FC;
$light-gray-transparent: rgba(40, 44, 71, 0.6);
$dark-background: #282F48;
$very-light-blue: #E0EFFF;
$blue: #0064FE;
$white-transparent-70: rgba(255, 255, 255, 0.7);

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
}

.ellipse {
  background-color: $very-light-blue;
  color: $dark-gray;
  height: 48px;
  width: 48px;
  padding: 11px;
  border-radius: 50px;
  display: inline-block;
}

.contact-info {
  color: $light-gray;

  a {
    text-decoration: none;
  }
}

.padded-container {
  padding: 24px;
}

.padded-container + .padded-container {
  padding: 0 24px 24px 24px;
}

.make-an-appointment {
  background-color: $blue;
  border-radius: 2px;
  display: inline-block;

  svg {
    margin-right: 10px;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    padding: 20px;
  }
}

.text-center {
  text-align: center;
}

.mug-container {
  position: relative;

  img {
    width: 100%;
    display: block;
    z-index: 1;
  }

  .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $light-gray-transparent;
    z-index: 2;
    padding: 16px;
    color: white;
    line-height: 28px;
    font-weight: 600;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }
}

html, body {
  height: 100%;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  margin: 0;
}

h1 {
  margin: 2px;
  font-family: $font-family-serif;
  color: $dark-gray;
  text-align: center;
  font-size: 28px;
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
}

h2 {
  margin: 2px 42px;
  font-family: $font-family-serif;
  color: $dark-gray;
  text-align: center;
  font-size: 24px;
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
}

h3 {
  margin: 2px;
  font-family: $font-family-serif;
  color: $light-gray;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

td.dd {
  padding: 15px;;
}

address {
  white-space: pre-line;
}

.check {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1L5.5 9L1 5' stroke='%23282C47' stroke-width='2.5'/%3E%3C/svg%3E%0A");
}

.results-you-like {
  background-color: $very-light-gray;
  margin-top: 20px;

  table {
    margin: 10px auto;
  }

  td {
    padding: 10px;
  }
}

.steps-to-confidence {
  margin-top: 24px;
  font-size: 20px;
  text-align: center;
  color: $light-gray;

  h2 {
    margin-bottom: 24px;
    color: $dark-gray;
  }

  .ellipse {
    margin-top: 12px;
    font-weight: bold;
    color: $dark-gray;
  }

  .highlight {
    font-weight: bold;
    color: $dark-gray;
  }
}

.footer {
  text-align: center;
  padding: 46px 0 20px 0;
  background-color: $dark-background;

  p {
    color: $white-transparent-70;
  }

  path { stroke: white; }

  .make-an-appointment {
    margin: 20px 0;
    background-color: transparent;
    border-radius: 0;
    border: 2px solid white;
  }

  .make-an-appointment:hover {
    background-color: white;

    a { color: $dark-background; }
    path { stroke: $dark-background; }
  }
}
